<% unless current_user %>
  <div class="container">
    <div class="row">
    <%= link_to 'Sign_in', new_user_session_path %>
    </div>
    <div class="row">
      <button class="btn-lg btn-primary "><%= link_to 'Sign up with Github', user_omniauth_authorize_path(:github), class: "white-font" %></button>
    </div>
    </div>
  </div>
<% else %>
  <%= link_to('Sign out', destroy_user_session_path, :method => :delete) %>

<div ng-cloak ng-controller="starPostController" class="container">
  <div class="row">

    <div class="col-md-10">
      <div class="col-md-1">
        <button class="btn btn-sm btn-default" ng-click="get_user()">  + </button>
      </div>
        <div class="col-md-1">
          <span class="glyphicon glyphicon-user grey" ng-click="setOrder('users'); selectedOrer('users')" ng-style="selected_order"></span>
          <span class="glyphicon glyphicon-search grey" ng-click="setOrder('names'); selectedOrder('names')" ng-style="selected_order"></span>
        </div>
        <div ng-show="getOrder('users')" ng-hide="getOrder('names')" class="left-inner-addon col-md-3">

          <span class="glyphicon glyphicon-user grey"></span>
          <input type="text" ng-model="user"  typeahead="u for u in users | filter : ($viewValue === '*' ? '' : $viewValue)" typeahead-loading="loadingUsers" class="form-control">
        </div>

        <div ng-show="getOrder('names')" ng-hide"getOrder('users')" class="col-md-3" >

          <input type="text" ng-model="name_filter" typeahead="s.name as s.name for s in stars  | filter : {name: $viewValue} | filter : {language : language_filter['language']} | limitTo:8"  class="form-control glyphicon" type="search" placeholder="&#57347;" autofocus="autofocus">
        </div>

<!--       <div class="col-md-4"><button class="btn btn-sm btn-default" ng-click="get_user()"> Update stars + </button></div> -->

      <div class="col-md-2">
        <select ng-model="language_filter" ng-options="l as l.language for l in stars | unique : 'language'">

          <option value="">-- Any Language --</option>
        </select>
      </div>


      <div class="col-md-3">
          <a><span ng-click="item_order = 'star'" class="right-space glyphicon glyphicon-star"> Popular</span></a>
          <a><span ng-click="item_order = 'created_at'"class="grey glyphicon glyphicon-refresh"> New</span></a>
      </div>


  </div>

    <div class="col-md-4">

    </div>
    <div class="col-md-10">
      <div >


        <div class="col-md-6 top-buffer repo" ng-repeat="star in stars | filter : {name: name_filter} | filter : {language : language_filter['language']} | orderBy: item_order: reverse |limitTo:20" ng-animate='animate'>
          <div class="col-md-3">
          </div>
          <div class="col-md-9" ng-style='{"border-left" :"2px solid " + backColor(star.language)}'>
            <div class="col-md-6">
              <img height="100" width="100" src={{star.avatar}} class="img-circle"></img>
            </div>

            <div class="col-md-6">

              <div><a target="_blank" href="{{ star.url }}"><h3>{{ star.name }}</h3></a></div>
              <div><span class="gold-color glyphicon glyphicon-star"></span> {{ star.star }}</div>
              <div><span class="grey glyphicon glyphicon-time"></span> {{last_update(star)}}</div>
              <div><span class="grey glyphicon glyphicon-comment"></span> {{star.language}}</div>
              </br>

            </div>


            <div class="col-md-12">
              <div>This repo <span class="grey glyphicon glyphicon-heart"></span>s</div>
                <div><a target="_blank" href="https://github.com/{{star.likes[((currentPage-1)*10)][0]}}">{{star.likes[((currentPage-1)*10)][0]}}</a></div>
                <div><a target="_blank" href="https://github.com/{{star.likes[((currentPage-1)*10)+1][0]}}">{{star.likes[((currentPage-1)*10)+1][0]}}</a></div>
                <div><a target="_blank" href="https://github.com/{{star.likes[((currentPage-1)*10)+2][0]}}">{{star.likes[((currentPage-1)*10)+2][0]}}</a></div>
                <div><a target="_blank" href="https://github.com/{{star.likes[((currentPage-1)*10)+3][0]}}">{{star.likes[((currentPage-1)*10)+3][0]}}</a></div>
                <div><a target="_blank" href="https://github.com/{{star.likes[((currentPage-1)*10)+4][0]}}">{{star.likes[((currentPage-1)*10)+4][0]}}</a></div>
                <div><a target="_blank" href="https://github.com/{{star.likes[((currentPage-1)*10)+5][0]}}">{{star.likes[((currentPage-1)*10)+5][0]}}</a></div>
                <div><a target="_blank" href="https://github.com/{{star.likes[((currentPage-1)*10)+6][0]}}">{{star.likes[((currentPage-1)*10)+6][0]}}</a></div>
                <div><a target="_blank" href="https://github.com/{{star.likes[((currentPage-1)*10)+7][0]}}">{{star.likes[((currentPage-1)*10)+7][0]}}</a></div>
                <div><a target="_blank" href="https://github.com/{{star.likes[((currentPage-1)*10)+8][0]}}">{{star.likes[((currentPage-1)*10)+8][0]}}</a></div>
                <div><a target="_blank" href="https://github.com/{{star.likes[((currentPage-1)*10)+9][0]}}">{{star.likes[((currentPage-1)*10)+9][0]}}</a></div>
                <pager total-items="totalItems" page="currentPage"></pager>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>
