<% unless current_user %>
  <div class="container">
    <div class="row">
    <%= link_to 'Sign_in', new_user_session_path %>
    </div>
    <div class="row">
      <button class="btn-lg btn-primary "><%= link_to 'Sign up with Github', user_omniauth_authorize_path(:github), class: "white-font" %></button>
    </div>
    </div>
  </div>
<% else %>
  <%= link_to('Sign out', destroy_user_session_path, :method => :delete) %>

<div ng-cloak ng-controller="starPostController" class="container">
  <div class="row">


<!--       <div class="col-md-4"><button class="btn btn-sm btn-default" ng-click="get_user()"> Update stars + </button></div> -->

      <div class="col-md-2">
        
      </div>


      <div class="col-md-3">
          <a></a>
          
      </div>


  </div>

    <div class="col-md-4">

    </div>
    <div class="col-md-12">

        <div class="fixed">
        <h3>Showing <input ng-model='limit' class=></input> Repos in <select ng-model="language_filter" ng-options="l as l.language for l in stars | unique : 'language'"> <option value="">-- Any Language --</option></select> called <input    ng-model="name_filter" typeahead="s.name as s.name for s in stars  | filter : {name: $viewValue} | filter : {language : language_filter['language']}"   type="search"  autofocus="autofocus"> that are <a><span ng-click="item_order = 'star'; selectedFilter('star')" ng-style="star_selected"> Popular?</span></a> or <a><span ng-click="item_order = 'created_at'; selectedFilter('new')" ng-style="new_selected"> New</span></a></h3> 
        </div>
      <div class="push_down">


        <div class="col-md-6 top-buffer repo" ng-repeat="star in stars | filter : {name: name_filter} | filter : {language : language_filter['language']} | orderBy: item_order: reverse |limitTo:limit" ng-animate='animate'>
          <div class="col-md-3">
          </div>
          <div class="col-md-9" ng-style='{"border-left" :"2px solid " + backColor(star.language)}'>
            <div class="col-md-6">
              <img height="100" width="100" src={{star.avatar}} class="img-circle"></img>
            </div>

            <div class="col-md-6">

              <div><a target="_blank" href="{{ star.url }}"><h3>{{ star.name }}</h3></a></div>
              <div><span class="gold-color glyphicon glyphicon-star"></span> {{ star.star }}</div>
              <div><span class="grey glyphicon glyphicon-time"></span> {{last_update(star)}}</div>
              <div><span class="grey glyphicon glyphicon-comment"></span> {{star.language}}</div>
              </br>

            </div>


            <div class="col-md-12">
              <div>This repo <span class="grey glyphicon glyphicon-heart"></span>s</div>
                <div><a target="_blank" href="https://github.com/{{star.likes[((currentPage-1)*10)][0]}}">{{star.likes[((currentPage-1)*10)][0]}}</a></div>
                <div><a target="_blank" href="https://github.com/{{star.likes[((currentPage-1)*10)+1][0]}}">{{star.likes[((currentPage-1)*10)+1][0]}}</a></div>
                <div><a target="_blank" href="https://github.com/{{star.likes[((currentPage-1)*10)+2][0]}}">{{star.likes[((currentPage-1)*10)+2][0]}}</a></div>
                <div><a target="_blank" href="https://github.com/{{star.likes[((currentPage-1)*10)+3][0]}}">{{star.likes[((currentPage-1)*10)+3][0]}}</a></div>
                <div><a target="_blank" href="https://github.com/{{star.likes[((currentPage-1)*10)+4][0]}}">{{star.likes[((currentPage-1)*10)+4][0]}}</a></div>
                <div><a target="_blank" href="https://github.com/{{star.likes[((currentPage-1)*10)+5][0]}}">{{star.likes[((currentPage-1)*10)+5][0]}}</a></div>
                <div><a target="_blank" href="https://github.com/{{star.likes[((currentPage-1)*10)+6][0]}}">{{star.likes[((currentPage-1)*10)+6][0]}}</a></div>
                <div><a target="_blank" href="https://github.com/{{star.likes[((currentPage-1)*10)+7][0]}}">{{star.likes[((currentPage-1)*10)+7][0]}}</a></div>
                <div><a target="_blank" href="https://github.com/{{star.likes[((currentPage-1)*10)+8][0]}}">{{star.likes[((currentPage-1)*10)+8][0]}}</a></div>
                <div><a target="_blank" href="https://github.com/{{star.likes[((currentPage-1)*10)+9][0]}}">{{star.likes[((currentPage-1)*10)+9][0]}}</a></div>
                <pager total-items="totalItems" page="currentPage"></pager>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<% end %>
