<div ng-controller="starPostController" class="container">
  <div class="row">
    <input ng-model="name_filter" class="form-control" placeholder="Search for names here!">



    <div class="col-md-4">

    </div>
    <div class="col-md-10">
      <div >


        <div class="col-md-6 top-buffer" ng-repeat="star in stars | orderBy : updated_at | filter : name_filter" >
          <div class="col-md-3">
          </div>
          <div class="col-md-9" ng-style='{"border-left" :"2px solid " + backColor(star.language)}'>
            <div class="col-md-6">
              <img height="100" width="100" src={{star.avatar}} class="img-circle"></img>
            </div>

            <div class="col-md-6">
              <div><a href="{{ star.url }}"><h3>{{ star.name }}</h3></a></div>
              <div><span class="gold-color glyphicon glyphicon-star"></span> {{ star.star }}</div>
              <div>{{last_update(star)}}</div>
              <div>{{star.language}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
