/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap
 *= require angular-motion
 *= require_tree .
 */
.top-buffer { margin-top:50px; }

.gold-color{ color : rgba(253, 206, 16, 0.46);}

.grey{ color : rgba(190, 186, 169, 0.46);}

.repo{ height: 500px;}

.white-font{color : white;}
