// Place all the styles related to the StarPosts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.top-buffer { margin-top:50px; }

.gold-color{ color : rgba(253, 206, 16, 0.46);}

.grey{ color : rgba(190, 186, 169, 0.46);}

.repo{ height: 500px;}

.right-space{ margin-right: 10px;}

.left-inner-addon {
    position: relative;
}
.left-inner-addon input {
    padding-left: 30px;
}
.left-inner-addon span {
    position: absolute;
    padding: 10px 12px;
    pointer-events: none;
}

.icons {
  font-size: 20px;
  margin-top: 5px;
  cursor: pointer;
}

.red {
  color: red;
}
